$primary: rgba(168, 167, 224, 0.781);
$secondary: rgb(211, 28, 58); 
$btn: rgb(91, 136, 136);
$hoover: rgb(245, 86, 112); 
$fondo: rgba(245, 143, 194, 0.918); 

$paletaDeColores:(
    primario: $primary,
    secundario: $secondary,
    btn: $btn,
    hoover: $hoover,
    fondo: $fondo,
);
